:root {
    --ff: 'Montserrat', sans-serif;
    
    --fw-n: 400;
    --fw-b: 800;
    
    --fs-2: 5rem;
    --fs-p: 0.9rem;
    
    --primary-clr: #03F3FF;
    --primary-clr-op: rgb(3, 243, 255,0.85);
    --primary-clr-dark: #34A2FE;
    --secondary-clr: #9500FC;
    --accent-clr: #EF6461;
  
    --spacer: 1rem;
    --spacer-md: calc(var(--spacer) * 2);
    --spacer-lg: calc(var(--spacer) * 3);
    
    --shadow: 0 0 1em rgba(0,0,0, .25);
    --br: 5px;
    
  }

*{
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-areas: 
    "header"
    "a"
    "b"
    "c"
    "d"
    "e"
    "footer";
    font-family: var(--ff);
    font-weight: var(--fw-n);
    margin: 0;
}

header{
    grid-area:header;
}

#cabezera{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    margin-top: 50px;
}

#cabezera img{
    width:200px;
}
#cabezera p{
    margin: 0;
    color: grey;
    font-size: 3em;
    letter-spacing: 8px;
}

#cabezera nav{
    width: 60%;
}

#cabezera ul{
    list-style-type: none;
    margin-top: 60px;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

#cabezera ul li p{
    font-size: 1em;
    letter-spacing: 6px;
}

footer{
    grid-area:footer;
}

#a{
    grid-area: a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
}

#a p{
    margin: 0;
    color: rgb(148, 148, 148);
    font-size: 2em;
    letter-spacing: 10px;
    word-spacing: 10px;
    text-align: center;
}

#b{
    grid-area: b;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    margin-top: 40px;
    background-color: var(--primary-clr-dark);
    background-image: url(images/lineas.png);
    background-origin:border-box;
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
    color:white;
}

#b .contenedor{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
}

#b p.titulo{
    margin: 0;
    font-size: 2em;
    letter-spacing: 10px;
    word-spacing: 10px;
    justify-self: center center;
    text-align: center;
    width: 260px;
    margin: 50px 0px;
}

#b p.contenido{
    text-align: justify;
    line-height: 25px;
    font-size: 0.9em;
}

#b a{
    margin: 50px 0px; 
}

a{
    background-color: var(--primary-clr); /* Green */
    border: 1px solid var(--primary-clr);;
    color: #546CFD;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 50px;
}

a:hover{
    background-color: var(--primary-clr-op);
    border-color: var(--primary-clr-op);
}

#c{
    grid-area: c;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
}

#c p.titulo{
    margin: 0;
    font-size: 1.5em;
    letter-spacing: 10px;
    word-spacing: 10px;
    justify-self: center center;
    text-align: center;
    margin: 50px 0px;
    color: rgb(148, 148, 148);
}

#c .tarjetas{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}

#c img{
    width: 200px;
    transition:all .5s;
}

#c img:hover{
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    transform:rotateY(180deg);
}

#d{
    grid-area: d;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto; 
    margin-top: 40px;
    background-color: var(--secondary-clr);
    color:white;
    grid-template-areas: 
    "mapa contenedor";
    min-height: 500px;
}

#d .mapa{
    grid-area: mapa;
    display: flex;
    align-items: center;
    justify-content: center;
}

#d .contenedor{
    grid-area: contenedor;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    width: 90%;
    justify-self: center;
    min-height: 450px;
}

#d p.titulo1{
    margin: 0;
    font-size: 2em;
    letter-spacing: 10px;
    word-spacing: 10px;
    justify-self: center center;
    text-align: center;
}

#d p.titulo2{
    margin: 0;
    font-size: 3.5em;
    letter-spacing: 20px;
    justify-self: center center;
    text-align: center;
    padding-left: 10px;
}

#d p.contenido{
    text-align: justify;
    line-height: 25px;
    font-size: 0.9em;
    margin: 50px 0px;
}

#e{
    grid-area: e;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
}

#e img{
    width: 400px;
    margin-top: 50px;
}

#e .titulo{
    margin: 0;
    font-size: 1.7em;
    letter-spacing: 10px;
    word-spacing: 10px;
    justify-self: center center;
    text-align: center;
    color: rgb(148, 148, 148);
    margin-bottom: 50px;
}

footer{
    grid-area: footer;
    background-image: linear-gradient(to right, var(--secondary-clr) , var(--primary-clr));
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 150px;
}
footer img{
    width: 100px;
}


img {
    display: block;
    width: 100%;
    height: auto;
  }

h1,h2,h3,h4,h5,h6{
    font-weight: 800;
}


/* Small Screens*/
@media(max-width: 1200px){
    #cabezera nav{
        width: 80%;
    }
}

/* Small Screens*/
@media(max-width: 1000px){
    #cabezera nav{
        width: 90%;
    }
}

/* Small Screens*/
@media(max-width: 800px){
    #cabezera nav{
        width: 95%;
    }
    #d{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto; 
        grid-template-areas: 
        "contenedor"
        "mapa";
    }
}

/* Small Screens*/
@media(max-width: 700px){
    #cabezera nav{
        display: none;
    }
}

/* Small Screens*/
@media(max-width: 560px){
    
}

/* Landscape */

@media(max-height: 500px){

}