body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "header"
    "a"
    "b";
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 0;
}

header{
    grid-area:header;
}

#cabezera{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    margin-top: 50px;
}

#cabezera img{
    width:200px;
}
#cabezera p{
    margin: 0;
    color: grey;
    font-size: 3em;
    letter-spacing: 8px;
}

#cabezera nav{
    width: 60%;
}

#cabezera ul{
    list-style-type: none;
    margin-top: 60px;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

#cabezera ul li p{
    font-size: 1em;
    letter-spacing: 6px;
}

footer{
    grid-area:footer;
    font-size: 2rem;
}

#a{
    grid-area: a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
}

#a p{
    margin: 0;
    color: rgb(148, 148, 148);
    font-size: 2em;
    letter-spacing: 10px;
    word-spacing: 10px;
}

#b{
    grid-area: b;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    margin-top: 40px;
    background-image: url(images/azul.jpg);
    background-origin:border-box;
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
    color:white;
}

#b .contenedor{
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
}

#b p.Titulo{
    margin: 0;
    font-size: 2em;
    letter-spacing: 10px;
    word-spacing: 10px;
    justify-self: center center;
    text-align: center;
    width: 350px;
    margin: 50px 0px;
}

#b p.Contenido{
    text-align: justify;
}

#b a{
    margin: 50px 0px;
    background-color: #03F3FF; /* Green */
    border: 1px solid #03F3FF;;
    color: #546CFD;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 50px;
}


img {
    display: block;
    width: 100%;
    height: auto;
  }

h1,h2,h3,h4,h5,h6{
    font-weight: 800;
}

/* Small Screens*/
@media(max-width: 560px){
    
}

/* Landscape */

@media(max-height: 500px){

}